.venv-api
__pycache__
**/__pycache__
.pytest_cache
.coverage
.coveragerc
htmlcov
node_modules
.env
.env.*
!.env.example
.vscode
uvicorn.log
k8s
terraform
package.json
package-lock.json
flags.ts
requirements-dev.txt
pytest.ini

